.cards-gp {
    width: 12vw;
    height: 37vh;

    .card-face {
        background-image: url(../../media/img/components/cards/face.png);
        background-size: cover;
        width: 12vw;
        height: 37vh;
        border-radius: 0.5vw;
        position: relative;
        z-index: -1;
        transform: perspective(600px) rotateY(0deg);
        backface-visibility: hidden;
        transition: 1s ease-in-out;

    }

    .card-back {
        // background-image: url(../../media/img/components/cards/back-1.png);
        background-size: cover;
        width: 12vw;
        height: 37vh;
        margin-top: 11vh;
        border-radius: 0.5vw;
        position: relative;
        z-index: -2;
        top: -48vh;
        transform: perspective(600px) rotateY(180deg);
        backface-visibility: hidden;
        transition: 1s ease-in-out;
    }

    .bk-img1 {
        background-image: url(../../media/img/components/cards/back-1.png);
    }

    .bk-img2 {
        background-image: url(../../media/img/components/cards/back-2.png);
    }

    .bk-img3 {
        background-image: url(../../media/img/components/cards/back-3.png);
    }

    .bk-img4 {
        background-image: url(../../media/img/components/cards/back-4.png);
    }

    .bk-img5 {
        background-image: url(../../media/img/components/cards/back-5.png);
    }

}

.cards-gp:hover {
    cursor: pointer;
}

.reveal-face {
    transform: perspective(600px) rotateY(180deg) !important;
}

.reveal-back {
    transform: perspective(600px) rotateY(360deg) !important;
}